.list-cards {
    --spacing: 25px;
    --columns: 4;
    display: flex;
    /* flex-direction: column; */
    flex-wrap: wrap;
    margin-left: calc(-1 * var(--spacing));
  
  }
  
  .card {
    border-radius: 15px;
    background-color: white;
    overflow: hidden;
    /* https://www.cssmatic.com/box-shadow */
    box-shadow: 4px 4px 5px 0px rgba(217, 213, 217, 0.65);
    /* box-shadow: 7px 8px 7px 0px rgba(224, 224, 224, 1); */
    width: calc(calc(100% / var(--columns)) - var(--spacing));
    margin-left: var(--spacing);
    margin-bottom: var(--spacing);
    /* height: 435px; */
  }
  
  .card-image {
    /* height: 280px; */
    width: 100%;
    object-fit: scale-down;
    flex-shrink: 0;
  }
  
  .card-top {
    padding: 5px 10px 5px 10px;
  }
  
  .card-content {
    /* height: calc(100%-200px); */
    border-top: 2px solid #222;
    display: flex;
    flex-direction: column;
    flex: 1;
  }
  
  .card-title {
    font-size: 16px;
    font-weight: 550;
    color: black;
    word-break: break-all;
  
    /* text-truncate */
    /* display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-word; */
    margin: 0;
  }
  
  .card-info {
    font-size: 15px;
    font-weight: 500;
    word-break: break-all;
    /* text-truncate */
    /* display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-word; */
  }
  
  .content {
    width: 85%;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
    /* background-color: #222; */
  }
  .min-ch{
    min-height: calc(100vh - 150px);
  }
  
  .card-image:hover {
    opacity: 0.8;
  }
  
  .card-title:hover {
    color: #005550;
  }
  
  .card a:hover {
    /* text-decoration: none; */
    text-decoration-color: #005550;
  }
  
  @media screen and (min-width: 1160px) {
  
    .list-cards {
      --columns: 4;
      --spacing: 25px;
    }
  
    .card-image {
      height: 230px;
  
    }
  
    .card-title {
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
      word-break: break-word;
    }
  
    .card-info {
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
      word-break: break-word;
    }
  
  
  }
  
  
  @media screen and (max-width: 1160px) {
    .list-cards {
      --columns: 3;
      --spacing: 20px;
    }
  
    .card-image {
      height: 220px;
  
    }
  
    .card-title {
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
      word-break: break-word;
    }
  
    .card-info {
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
      word-break: break-word;
    }
  }
  
  @media screen and (max-width: 700px) {
    .content {
      width: 90%;
    }
  
    .card {
      display: flex;
      flex-direction: row;
      width: 100%;
      height:200px;
    }
  
    /* .box-card-imag {
      display: flex;
      justify-items: center;
      align-items: center;
      justify-content: center;
    } */
  
    .card-image {
      width: 170px;
      object-fit: scale-down;
      height: 100%;
    }
  
    .card-content {
      border-top: 0;
    }
  
    .card-top {
      padding: 20px 5px 5px 10px;
    }
  
    .card-title {
      width: fit-content;
    }
  
    .card-info {
      /* padding-top: 5px; */
      display: -webkit-box;
      -webkit-line-clamp: 6;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
      word-break: break-word;
    }
    /* .card-info > p {
      margin-bottom: 15px;
    } */
  
    
  }
  
  
  @media screen and (max-width: 548px) {
    .content {
      width: 93%;
    }
  
  
    .card {
      display: flex;
      flex-direction: row;
      width: 100%;
      height: 170px;
    }
  
    /* .box-card-imag {
      display: flex;
      justify-items: center;
      align-items: center;
      justify-content: center;
    } */
  
    .card-image {
      width: 160px;
      object-fit: scale-down;
      height: 100%;
    }
  
    .card-content {
      border-top: 0;
    }
  
    .card-top {
      padding: 18px 5px 5px 5px;
    }
  
    .card-title {
      width: fit-content;
      
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
      word-break: break-word;
  
    }
  
    .card-info {
      width: fit-content;
  
      display: -webkit-box;
      -webkit-line-clamp: 4;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
      word-break: break-word;
    }
  }
  
  .card-info > p {
    margin: 0;
  }