body{
    font-family: 'Roboto Mono', monospace;
    background: #F7F7F7;
}
h5.tieudebaiviet {
    color: #343a40;
    text-transform: uppercase;
    font-size: 22px;
    font-weight: bold;
}
.bg-dark {
    background-color: #8b5a2b !important;
}
ul.navbar-nav.mr-auto li a {
    font-size: 15px;
    display: block;
    margin: 0 auto;
    color: #fff !important;
    border-left: 1px solid #f7f7f7;
}
ul.navbar-nav.mr-auto li:hover {
    background: brown;
}
.card-header {
    padding: .75rem 1.25rem;
    margin-bottom: 0;
    color: #fff;
    background-color: #8b5a2b !important;
    border-bottom: 1px solid rgba(0,0,0,.125);
}
.card-footer {

    color: #fff;
    background-color: #8b5a2b !important;
   
}
.text-muted {
    color: #fff !important;
}
.tomtatbaiviet {
    padding: 10px 0;
    font-size: 14px;
}
h3.tieudeindex {
    text-align: center;
    margin: 20px 0;
    font-size: 29px;
    font-weight: bold;
    text-decoration: underline;
}
.row.container-baiviet {
    margin: 30px 0;
    border: 1px solid #ddd;
    padding: 20px 0;
    box-shadow: 2px 2px 2px #ddd;
}
/* The sticky class is added to the navbar with JS when it reaches its scroll position */
.sticky {
    position: fixed;
    /* width: 90%; */
    top: 0;
    right: 3%;
}

/* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .content {
  padding-top: 20px;
}